body {
    background-color: #f8f8f8;
}
.blanco {
    color: #f8f8f8;
    font-weight: bold;
}
.mediano {
    font-size: 18px;
}
#fondo {
    background-color: #5ce1e6;
}
.aladerecha { 
   text-align: right;
}
.fuente { 
    font-family: Verdana;
}
#alaizq {
    text-align: left;
}
.rayado {
    text-decoration: none;
}
#centro {
    text-align: center;
}
.centrar {
    background-position: center;
    background-size: auto;
}
#fondo1 {
    background-color: #5ce1e6;
}
header { 
    display: flex;
    align-content: space-between;
    justify-content: left;
    padding: 2rem 1rem 1rem 2rem;
    border-bottom: 2px solid #5CE1E6;
    margin: 0;
    text-align: left;
}
.grid {
    display: grid;
    grid-template-columns: 6, 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: inherit;
}
footer {
    display: flex;
    align-content: space-between;
    justify-content: center;
    padding: 1rem 0;
    margin: 0%;
    border-bottom: 4px solid #5ce1e6;
}
#grilla {
    display: grid;
    grid-template-areas:
    "header header header"
    "img img img"
    "footer footer footer";
    grid-column-gap: 2rem;
    grid-row-gap: 0;
    grid-template-columns: 10vw 1fr 10vw;
    grid-template-rows: 1fr 1fr;
} 
header {
    background-color: #5ce1e6;
    grid-area: header;
    grid-column: 1/4;
    grid-row: 2 rem;
    justify-items: left;
}
img {
    grid-area: img;
    grid-column: 1/3;
    grid-row: 2rem;
    justify-items: auto;
}
footer {
    background-color: #5ce1e6;
    grid-area: footer;
    grid-column: 1/4;
    grid-row: 2 rem;
    justify-items: center;
    z-index: relative;
    padding: 10px 0;
    line-height: 1.75;
}
html { 
    font-size: 62.5%;
}
section header nav div {
    font-size: 2 rem;
    padding: 2 rem;
    text-align: left;
}
section div {
    margin: 0 auto;
}
div {
    padding: 1rem;
}
p {
 font-size: 18px;
 text-align: justify;
 font-family: verdana;
 color: #4d4d4e;
}
h4 {
    font-size: 18px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4d4d4e;
    font-weight: bold;
}
.pic {
    width: 1300px;
    height: 700px;
    justify-items: center;
}    
h2 {
    font-size: 20px;
    text-align: center;
    font-family: verdana;
    color: black;
}
h3 {
    font-size: 20px;
    text-align: left;
    font-family: verdana;
    color: #4d4d4e;
    font-weight: bold;
}
.boton {
    font-size: 22px;
    font-family: verdana;
}
@mixin sizes ($width, $heigth) {
    heigth: $heigth;
    width: $width;
}
.box {
    @include sizes(500px, 50px)
}
@mixin square($size, $radius: 0) {
    width: $size;
    height: $size;
  
    @if $radius != 0 {
      border-radius: $radius;
    }
}
@media screen and (max-width: 600px) { 
    .nav a {
        float: none;
        width: 100%;
    }
} 
.icon img {
    width: 32px;
    height: auto;
    margin: 0 10px;
    opacity: .75;
}
.icon img:hover {
    opacity: 1;
}
a:hover {
    color: cornflowerblue;
}
.gris {
    color: #4d4d4e;
    font-weight: bold;
}
