<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <section id="grilla" class="grid" > 
      <header>
          <div class="container">
              <img src="../img/LOGO CYN.jpeg" class="img-fluid img" alt="">
          </div>
          <nav class="container">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
                <div class="g-col-6 g-col-md-4">
                    <a href="../index.html" class="blanco mediano fuente rayado">Home</a>
                </div>
                <div class="g-col-6 g-col-md-4">
                  <a href="../views/quienessomos.html" class="blanco mediano fuente rayado">Quienes Somos</a>
                </div>
                <div class="g-col-6 g-col-md-4">
                  <a href="../views/nuestroequipo.html" class="blanco mediano fuente rayado">Nuestro Equipo</a>
                </div>
                <div class="g-col-6 g-col-md-4">
                  <a href="../views/servicios.html" class="blanco mediano fuente rayado">Servicios</a>
                </div>
                <div class="g-col-6 g-col-md-4">
                  <a href="../views/contacto.html" class="blanco mediano fuente rayado">Contacto</a>
                </div>
              </div>
          </nav>
      </header>
    </section>
    <section>
        <h2>NUESTRO EQUIPO DE TRABAJO</h2>
        <p>En CYN CONSULTORES contamos con los mejores profesionales para que tu proyecto este en buenas manos</p>
            <div class="card mb-3" style="max-width: 960px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../img/consultoria.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 960px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="../img/consultoria.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                  </div>
                </div>
      </section>
      <section id="grilla"> 
        <footer>
            <div id="centro" class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                  <div class="g-col-6 g-col-md-4">
                    <a href="" class="blanco mediano fuente rayado">Teléfono +569 67558628</a>
                  </div>
                  <div class="g-col-6 g-col-md-4">
                    <a href="" class="blanco mediano fuente rayado">contacto@cynconsultores.cl</a>
                  </div>
                  <div class="g-col-6 g-col-md-4">
                    <a href="" class="blanco mediano fuente rayado">Quilpué, Chile</a>
                  </div>
                </div>
            </div>
        </footer>  
    </section> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>