<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <section id="grilla" class="grid" > 
      <header>
          <div class="container">
                <img src="../img/LOGO CYN.jpeg" class="img-fluid img" alt="">
          </div>
          <nav class="container">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 row gx-5">
                <div class="g-col-6 g-col-md-4">
                    <a href="../index.html" class="blanco mediano fuente rayado">Home</a>
                </div>
                <div class="g-col-6 g-col-md-4">
                    <a href="../views/quienessomos.html" class="blanco mediano fuente rayado">Quienes Somos</a>
                </div>
                <div class="g-col-6 g-col-md-4">
                    <a href="../views/nuestroequipo.html" class="blanco mediano fuente rayado">Nuestro Equipo</a>
                </div>
                <div class="g-col-6 g-col-md-4">
                    <a href="../views/servicios.html" class="blanco mediano fuente rayado">Servicios</a>
                </div>
                <div class="g-col-6 g-col-md-4">
                    <a href="../views/contacto.html" class="blanco mediano fuente rayado">Contacto</a>
                </div>
              </div>
          </nav>
      </header>
    </section>
    <section>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="../img/notebook en cama.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Formalización de tu PYME</h2>
              <p class="card-text">Este servicio consiste en la redacción de la escritura pública o estatutos que regularan la sociedad.
                El documento una vez redactado será enviado al cliente para su posterior aprobación y legalización del mismo por medio de la página web www.tuempresaenundia.cl para que el cliente pueda ir a firmar el documento.
                </p>
            </div>
              <div class="card-footer d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary boton" type="button">Valor $19.990</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../img/notebook en cama.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../img/personas en oficina.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="grilla"> 
        <footer>
            <div id="centro" class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                  <div class="g-col-6 g-col-md-4">
                    <a href="" class="blanco mediano fuente rayado">Teléfono +569 67558628</a>
                  </div>
                  <div class="g-col-6 g-col-md-4">
                    <a href="" class="blanco mediano fuente rayado">contacto@cynconsultores.cl</a>
                  </div>
                  <div class="g-col-6 g-col-md-4">
                    <a href="" class="blanco mediano fuente rayado">Quilpué, Chile</a>
                  </div>
                </div>
            </div>
        </footer>  
    </section> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>